<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #EEEEEE;">

<div class="wrapper">
  <div id="header">
    <h1>This is a blog</h1>
  </div>

  <%= yield %>

</div>

</body>
</html>
